<section class="main-content">
  <div class="container">
    <div class="row">

      <div class="col-md-9 col-md-push-3">
        <div class="content">

          <h3>Описание сервиса</h3>
          <div class="products-row clearfix">
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquid aut earum illo, inventore ipsum, labore molestias mollitia neque numquam officiis porro recusandae rem, sequi. Commodi rem repellat totam?</span><span>Assumenda atque blanditiis dignissimos exercitationem nemo pariatur quos voluptatum? Dolor dolorem, eveniet natus odio optio saepe. Aliquid debitis ea ipsam minima quod rem, suscipit? Aliquid atque numquam quidem quo saepe?</span></p>
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquid aut earum illo, inventore ipsum, labore molestias mollitia neque numquam officiis porro recusandae rem, sequi. Commodi rem repellat totam?</span><span>Assumenda atque blanditiis dignissimos exercitationem nemo pariatur quos voluptatum? Dolor dolorem, eveniet natus odio optio saepe. Aliquid debitis ea ipsam minima quod rem, suscipit? Aliquid atque numquam quidem quo saepe?</span></p>
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquid aut earum illo, inventore ipsum, labore molestias mollitia neque numquam officiis porro recusandae rem, sequi. Commodi rem repellat totam?</span><span>Assumenda atque blanditiis dignissimos exercitationem nemo pariatur quos voluptatum? Dolor dolorem, eveniet natus odio optio saepe. Aliquid debitis ea ipsam minima quod rem, suscipit? Aliquid atque numquam quidem quo saepe?</span></p>
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias aliquid aut earum illo, inventore ipsum, labore molestias mollitia neque numquam officiis porro recusandae rem, sequi. Commodi rem repellat totam?</span><span>Assumenda atque blanditiis dignissimos exercitationem nemo pariatur quos voluptatum? Dolor dolorem, eveniet natus odio optio saepe. Aliquid debitis ea ipsam minima quod rem, suscipit? Aliquid atque numquam quidem quo saepe?</span></p>
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut numquam, vel! Cupiditate, molestiae repellendus? At eos ex placeat provident quae. Asperiores at culpa dolorum fugit natus quae, repellat tenetur! Eos.</span><span>Asperiores, ea, non! Amet error fuga laboriosam magni maiores, minus neque, nesciunt nobis non ratione recusandae rerum unde voluptatum? Aspernatur, laborum, temporibus. Alias deserunt exercitationem molestias? Enim modi ratione voluptate!</span><span>A accusamus accusantium ad alias consequatur delectus dolores earum est ex facere illo incidunt iure maiores maxime minus mollitia natus necessitatibus, optio porro possimus quas, recusandae repellat repudiandae ullam veritatis?</span><span>Dignissimos, sequi, temporibus. Aspernatur aut, beatae dolore, explicabo minus mollitia necessitatibus officia placeat praesentium provident, quibusdam ratione sapiente sit ut voluptatum? Amet blanditiis eveniet incidunt molestiae non quia ratione repellat.</span><span>Asperiores corporis dolores ducimus error exercitationem in officia porro, quod! Ab amet at commodi consequuntur enim id, incidunt ipsam laudantium magnam maiores nam porro reprehenderit, rerum sapiente sed sequi tempora.</span><span>Ab accusantium aliquam at dolor dolores earum esse ex exercitationem expedita ipsum iste maxime, nemo, neque nobis sapiente tempore voluptate. Doloribus est impedit labore numquam odio, quia sunt tempore velit?</span><span>A beatae cum deserunt error ipsum provident rem? Accusantium amet aspernatur distinctio, dolore, doloremque explicabo hic impedit itaque magnam minus numquam officiis optio praesentium provident quisquam rem ut veritatis, voluptas!</span><span>Accusantium ad amet asperiores beatae cumque dolor eos ex illum impedit incidunt ipsam nostrum obcaecati officia, recusandae sequi. Animi consequatur deleniti earum odio quasi quod repellat repudiandae ullam voluptatibus voluptatum.</span><span>Consectetur deleniti, distinctio eaque eos modi non quae quia quibusdam? Ad animi asperiores assumenda blanditiis, commodi eaque et laudantium magnam mollitia omnis, porro veritatis! Libero magni non odit sapiente sit.</span><span>Accusamus consequuntur deleniti itaque modi quas quos soluta. Distinctio esse est in laudantium possimus, rem reprehenderit sequi voluptatum. Asperiores enim provident quasi quibusdam, repellat totam! Aliquam commodi perspiciatis quam tempora.</span></p>
          </div><!--/.products-row .clearfix-->

        </div><!--/.content-->
      </div><!--/.col-md-9 .col-md-push-3-->

      <div class="col-md-3 col-md-pull-9">
        <div class="sidebar">

          <div class="row">
            <div class="col-xs-6 col-md-12 ">
              <div class="widget">
                <h3>Разделы</h3>
                <ul>
                  {{{listMenu}}}
                </ul>
              </div><!--/.widget-->
            </div><!--/.col-sm-6-->
          </div><!--/.row-->

        </div><!--/.sidebar-->
      </div><!--/.col-md-3 .col-md-pull-9-->


    </div>
  </div>
</section>