<section class="main-content">
	<div class="container">
		<div class="row">
			<div class="col-md-9 col-md-push-3">
				<div class="content">
					<h3>Специальные предложения</h3>
					<div class="products-row clearfix">
						<div class="col-sm-4">
							<div class="product">
								<div class="product-favorites">
									<span class="glyphicon glyphicon-thumbs-up"></span>
								</div><!--/.product-favorites-->
								<div class="product-img">
									<a href="#"><img src="/img/goods1.jpg" alt="Предложение1"></a>
								</div><!--/.product-img-->
								<p class="product-title"><a href="#">Lorem ipsum dolor sit.</a></p>
								<p class="product-desc">Lorem ipsum dolor sit amet.</p>
								<div class="product-buy">
									<p class="product-price">
										Цена 2000т.р
									</p>
									<a href="#" class="btn btn-default">Отправить в избранное</a>
								</div><!--/.product-buy-->
							</div><!--/.product-->
						</div>
						<div class="col-sm-4">
							<div class="product">
								<div class="product-favorites">

								</div><!--/.product-favorites-->
								<div class="product-img">
									<a href="#"><img src="/img/goods2.jpg" alt="Предложение1"></a>
								</div><!--/.product-img-->
								<p class="product-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit
									dolor sit amet, consectetur adipisicing elit.</a></p>
								<p class="product-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque expedita illo odio rerum tenetur velit Eaque expedita illo odio rerum tenetur velit!</p>
								<div class="product-buy">
									<p class="product-price">
										Цена 2500т.р
									</p>
									<a href="#" class="btn btn-default">Отправить в избранное</a>
								</div><!--/.product-buy-->
							</div><!--/.product-->
						</div>
						<div class="col-sm-4">
							<div class="product">
								<div class="product-favorites">
									<span class="glyphicon glyphicon-thumbs-up"></span>
								</div><!--/.product-favorites-->
								<div class="product-img">
									<a href="#"><img src="/img/goods3.jpg" alt="Предложение1"></a>
								</div><!--/.product-img-->
								<p class="product-title"><a href="#">Lorem ipsum dolor sit.</a></p>
								<p class="product-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at dignissimos distinctio ipsam, laudantium libero magni minus nisi porro provident!</p>
								<div class="product-buy">
									<p class="product-price">
										Цена 1000т.р
									</p>
									<a href="#" class="btn btn-default">Отправить в избранное</a>
								</div><!--/.product-buy-->
							</div><!--/.product-->
						</div>
					</div><!--/.products-row-->

					<h3>Покупка</h3>
					<div class="products-row clearfix">
						<div class="col-sm-4">
							<div class="product">
								<div class="product-favorites">
									<span class="glyphicon glyphicon-thumbs-up"></span>
								</div><!--/.product-favorites-->
								<div class="product-img">
									<a href="#"><img src="/img/goods1.jpg" alt="Предложение1"></a>
								</div><!--/.product-img-->
								<p class="product-title"><a href="#">Lorem ipsum dolor sit.</a></p>
								<p class="product-desc">Lorem ipsum dolor sit amet.</p>
								<div class="product-buy">
									<p class="product-price">
										Цена 2000т.р
									</p>
									<a href="#" class="btn btn-default">Отправить в избранное</a>
								</div><!--/.product-buy-->
							</div><!--/.product-->
						</div>
						<div class="col-sm-4">
							<div class="product">
								<div class="product-favorites">

								</div><!--/.product-favorites-->
								<div class="product-img">
									<a href="#"><img src="/img/goods2.jpg" alt="Предложение1"></a>
								</div><!--/.product-img-->
								<p class="product-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit
									dolor sit amet, consectetur adipisicing elit.</a></p>
								<p class="product-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque expedita illo odio rerum tenetur velit Eaque expedita illo odio rerum tenetur velit!</p>
								<div class="product-buy">
									<p class="product-price">
										Цена 2500т.р
									</p>
									<a href="#" class="btn btn-default">Отправить в избранное</a>
								</div><!--/.product-buy-->
							</div><!--/.product-->
						</div>
						<div class="col-sm-4">
							<div class="product">
								<div class="product-favorites">
									<span class="glyphicon glyphicon-thumbs-up"></span>
								</div><!--/.product-favorites-->
								<div class="product-img">
									<a href="#"><img src="/img/goods3.jpg" alt="Предложение1"></a>
								</div><!--/.product-img-->
								<p class="product-title"><a href="#">Lorem ipsum dolor sit.</a></p>
								<p class="product-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at dignissimos distinctio ipsam, laudantium libero magni minus nisi porro provident!</p>
								<div class="product-buy">
									<p class="product-price">
										Цена 1000т.р
									</p>
									<a href="#" class="btn btn-default">Отправить в избранное</a>
								</div><!--/.product-buy-->
							</div><!--/.product-->
						</div>
					</div><!--/.products-row-->

					<h3>Продажа</h3>
					<div class="products-row clearfix">
						<div class="col-sm-4">
							<div class="product">
								<div class="product-favorites">
									<span class="glyphicon glyphicon-thumbs-up"></span>
								</div><!--/.product-favorites-->
								<div class="product-img">
									<a href="#"><img src="/img/goods1.jpg" alt="Предложение1"></a>
								</div><!--/.product-img-->
								<p class="product-title"><a href="#">Lorem ipsum dolor sit.</a></p>
								<p class="product-desc">Lorem ipsum dolor sit amet.</p>
								<div class="product-buy">
									<p class="product-price">
										Цена 2000т.р
									</p>
									<a href="#" class="btn btn-default">Отправить в избранное</a>
								</div><!--/.product-buy-->
							</div><!--/.product-->
						</div>
						<div class="col-sm-4">
							<div class="product">
								<div class="product-favorites">

								</div><!--/.product-favorites-->
								<div class="product-img">
									<a href="#"><img src="/img/goods2.jpg" alt="Предложение1"></a>
								</div><!--/.product-img-->
								<p class="product-title"><a href="#">Lorem ipsum dolor sit amet, consectetur adipisicing elit
									dolor sit amet, consectetur adipisicing elit.</a></p>
								<p class="product-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque expedita illo odio rerum tenetur velit Eaque expedita illo odio rerum tenetur velit!</p>
								<div class="product-buy">
									<p class="product-price">
										Цена 2500т.р
									</p>
									<a href="#" class="btn btn-default">Отправить в избранное</a>
								</div><!--/.product-buy-->
							</div><!--/.product-->
						</div>
						<div class="col-sm-4">
							<div class="product">
								<div class="product-favorites">
									<span class="glyphicon glyphicon-thumbs-up"></span>
								</div><!--/.product-favorites-->
								<div class="product-img">
									<a href="#"><img src="/img/goods3.jpg" alt="Предложение1"></a>
								</div><!--/.product-img-->
								<p class="product-title"><a href="#">Lorem ipsum dolor sit.</a></p>
								<p class="product-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias at dignissimos distinctio ipsam, laudantium libero magni minus nisi porro provident!</p>
								<div class="product-buy">
									<p class="product-price">
										Цена 1000т.р
									</p>
									<a href="#" class="btn btn-default">Отправить в избранное</a>
								</div><!--/.product-buy-->
							</div><!--/.product-->
						</div>
					</div><!--/.products-row-->
				</div><!--/.content-->
			</div>
			<div class="col-md-3 col-md-pull-9">
				<div class="sidebar">
					<div class="row">
						<div class="col-xs-6 col-md-12">
							<div class="widget">
								<h3>Аренда</h3>
								<ul>
									<li><a href="#">Длительная аренда</a></li>
									<li><a href="#">Аренда коммерческой недвижимости</a></li>
									<li><a href="#">Аренда комнат</a></li>
									<li><a href="#">Аренда домов и коттеджей</a></li>
									<li><a href="#">Аренда гаражей</a></li>
									<li><a href="#">Квартиры посуточно</a></li>
									<li><a href="#">Комнаты посуточно</a></li>
									<li class="more"><a href="#">Больше информации</a></li>
								</ul>
							</div><!--/.widget-->
						</div><!--/.col-sm-6-->
						<div class="col-xs-6 col-md-12">
							<div class="widget">
								<h3>Продажа</h3>
								<ul>
									<li><a href="#">Квартиры и комнаты</a></li>
									<li><a href="#">Дома, коттеджи, дачи</a></li>
									<li><a href="#">Земельные участки без построек</a></li>
									<li><a href="#">Коммерческая недвижимость</a></li>
									<li><a href="#">Продажа гаражей</a></li>
								</ul>
							</div><!--/.widget-->
						</div><!--/.col-sm-6-->
					</div><!--/.row-->
					<div class="row">


						<div class="col-md-12 col-xs-6 text-center">
							<div id="carousel-sidebar" class="carousel fade" data-ride="carousel">
								<!-- Wrapper for slides -->
								<div class="carousel-inner" role="listbox">
									<div class="item active">
										<img src="/img/slide1.jpg" alt="">
										<div>
											<div class="sidebar-carousel-caption">
												<h4>Fashion Colors For Men</h4>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus officiis temporibus ullam vitae voluptate!</p>
											</div>
										</div>
									</div>
									<div class="item">
										<img src="/img/slide2.jpg" alt="">
										<div>
											<div class="sidebar-carousel-caption">
												<h4>Fashion Colors For Men 2</h4>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus officiis temporibus ullam vitae voluptate!</p>
											</div>
										</div>
									</div>
									<div class="item">
										<img src="/img/slide3.jpg" alt="">
										<div>
											<div class="sidebar-carousel-caption">
												<h4>Fashion Colors For Men 3</h4>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus officiis temporibus ullam vitae voluptate!</p>
											</div>
										</div>
									</div>
								</div>
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#carousel-sidebar" data-slide-to="0" class="active"></li>
									<li data-target="#carousel-sidebar" data-slide-to="1"></li>
									<li data-target="#carousel-sidebar" data-slide-to="2"></li>
								</ol>
							</div><!--/.carousel-sidebar-->
						</div>

						<div class="col-md-12 col-xs-6 text-center">
							<div class="banner">
								<img src="/img/slide1.jpg">
								<h3>Квартиры</h3>
								<h2>Дачи</h2>
								<h3>Участки</h3>
								<a href="#" class="btn-red">Перейти</a>
							</div>
						</div>

					</div><!--/.row-->
					<div class="about">
						<h3>Военная ипотека: покупка дольше, но очень реальна.</h3>
						<p>Программа военной ипотеки действует с 2007 года.</p>
						<p><span>По данным «Росвоенипотеки», более 391 000 военнослужащих являются участниками накопительной ипотечной системы (НИС).  </span></p>

					</div><!--/.about-->
				</div><!--/.sidebar-->
			</div>

		</div>
	</div>
</section>